/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}

body {
  padding: 10px;
  font-family: Helvetica;
  text-align: center;
  vertical-align: middle;
}

thead {
  font-family: Helvetica;
  font-size: 16px;
  border: 1px solid #c7c7c7;
}

tr:nth-child(odd) {
  border: 1px solid #c7c7c7;
  background-color: rgba(0,153,137,0.1);
}

td {
  color: #666;
  border: 1px solid #c7c7c7;
  height: 35px;
  vertical-align: middle;
}

th {
  font-size: 18px;
  border: 1px solid #c7c7c7;
  background-color: #919191;
  color: #1e1e1e; 
  height: 35px;
  vertical-align: middle;
}

table {
  text-align: middle;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  width: 1000px;
}

h1 {
  font-family: Helvetica;
  font-size: 25px;
  color: #505050;
  text-align: center;

}

td.success {
  color: #33cc00;
}

td.failure {
  color: #ff0000;
}

td.change {
  color: #cc9900;
}
}